[package]
name = "blitz-tanks"
version = "0.0.0"
edition = "2021"
description = "Recommender system for World of Tanks Blitz"
authors = ["Pavel Perestoronin <eigenein@gmail.com>"]

[dependencies]
anyhow = "1.0.71"
axum = { version = "0.6.18", default-features = false, features = ["tokio", "http1", "http2", "tracing", "headers", "query"] }
chrono = { version = "0.4.26", default-features = false, features = ["std", "clock"] }
clap = { version = "4.3.0", features = ["derive", "env", "cargo"] }
cookie = "0.17.0"
maud = { version = "0.25.0", features = ["axum"] }
moka = { version = "0.11.2", default-features = false, features = ["future", "atomic64"] }
prost = "0.11.9"
reqwest = { version = "0.11.18", default-features = false, features = ["gzip", "json", "rustls-tls"] }
sentry = { version = "0.31.3", default-features = false, features = ["anyhow", "backtrace", "contexts", "panic", "tracing", "reqwest", "rustls", "profiling"] }
serde = "1.0.163"
serde_with = "3.0.0"
sled = "0.34.7"
thiserror = "1.0.40"
tokio = { version = "1.28.1", default-features = false, features = ["macros", "rt-multi-thread"] }
tower = { version = "0.4.13", default-features = false }
tower-http = { version = "0.4.0", features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
uuid = { version = "1.3.3", features = ["v7"] }

[dev-dependencies]
serde_json = "1.0.96"

[profile.release]
lto = "fat"
codegen-units = 1
debug = 1

[profile.dev]
split-debuginfo = "unpacked"
